<div class="row">
  <div class="col">
    <input type="text" class="form-control" placeholder="Nombre" [(ngModel)]="nombre">
  </div>
  <div class="col">
    <input type="text" class="form-control" placeholder="Apellido" [(ngModel)]="apellido">
  </div>
  <div class="col">
    <button type="button" class="btn btn-primary" (click)="newPersona()">Agregar</button>
  </div>
</div>
<div *ngIf="personas.length != 0; else elseBlock">
  <div>
    <p>Introduce otra persona</p>
  </div>
  <tr *ngFor="let persona of personas; let i = index">
    <td>{{i+1}}. </td>
    <td>{{persona.nombre}} {{persona.apellido}}</td>
  </tr>
</div>
<ng-template #elseBlock>
  <p>No hay ninguna persona en la lista</p>
</ng-template>
